package templates

templ Head(title string) {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>{ title }</title>
		<link href="css/style.css" rel="stylesheet"/>
		<script src="https://unpkg.com/htmx.org@2.0.3"></script>
	</head>
}
